*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

.game-container{
    color: #f2f2f2;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url('./Assets/backgroundDesktop.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

canvas{
    border: 2px solid rgba(134, 214, 69, 0.84);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(134, 214, 69, 0.5);
}




.btns button{
    margin-left: 12px;
    padding: 8px 30px;
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(134, 214, 69, 0.5);
    border: 1px solid rgba(134, 214, 69, 0.84);
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    color: #f2f2f2;
    font-weight: 500;
}

.btns button:hover{
    transform: scale(0.94);
    background-color:rgba(134, 214, 69, 0.5);
    border: none;
    box-shadow: none;
    
}

.messages p{
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    color: #f2f2f2;
    font-weight: 500;

}
.messages p{
    font-size: 1.4rem;
    letter-spacing: 0.1rem;

}

 #lives, #time, #record{
    font-size: 1.4rem;
}

.resume{
    z-index: 2;
    position: absolute;
    background-color: #292929;
    border: 1px solid #75B93F;
    box-shadow: 0 0 10px rgba(117, 185, 63, 0.5);
    border-radius: 10px;
    width: 80vw;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 8px;
    padding: 16px;
    
}

#time--player{
    grid-column: 1 / 3;
}


#record--time{
    grid-column: 3 / 5;

}

#lives--player{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

#restart--game{
    grid-column: 1 / 5;
    grid-row: 3 / 4;

}

#time--player, #record--time,#lives--player,#restart--game{
    background-color: #1B1B1B;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid rgba(216, 119, 29, 0.8);;
    box-shadow: 0 0 4px rgba(216, 119, 29, 0.8);
}

.time--player__hero, .record--time__hero , .lives--player__hero{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.resume--img {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.resume__text{
    align-self: center;
    justify-self: start;
    font-size: 1rem;
    text-align: center;
    line-height: 12px;
    letter-spacing: 0.1rem;
}
.time--player__img{
    background-image: url('./Assets/clockGame.png');

}

.record--time__img{
    background-image: url('./Assets/recordCup.png');

}

.lives--player__img{
    background-image: url('./Assets/heartGame.png');

}


@media(max-width:480px){
    .btns{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        
    }

    .messages p{
        font-size: 1.2rem;
    }

    .btns button{
        padding: 8px 22px;
        font-size: 1.2rem;
        
    }

    #up{
        grid-column: 2 / 3;
        grid-row: 1 / 2;

    }

    #left{
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        
    }

    #right{
        grid-row: 2 / 3;
        grid-column: 3 / 4;
        
    }

    #down{
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        
    }
    
}




