*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

.hide{
    visibility: hidden;
    display: none;
}


.game-container{
    color: #f2f2f2;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url('./Assets/backgroundDesktop.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

canvas{
    border: 2px solid rgba(134, 214, 69, 0.84);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(134, 214, 69, 0.5);
}




.btns button{
    margin-left: 12px;
    padding: 8px 30px;
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(134, 214, 69, 0.5);
    border: 1px solid rgba(134, 214, 69, 0.84);
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    color: #f2f2f2;
    font-weight: 500;
}

.btns button:hover{
    transform: scale(0.94);
    background-color:rgba(134, 214, 69, 0.5);
    border: none;
    box-shadow: none;
    
}

.messages p{
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    color: #f2f2f2;
    font-weight: 500;

}
.messages p{
    font-size: 1.4rem;
    letter-spacing: 0.1rem;

}

 #lives, #time, #record{
    font-size: 1.4rem;
}

#timePlayer{
    font-size: 1rem;
}   

.resume{
    position: absolute;
    border: none;
    box-shadow: none;
    background-color: #353535;
    box-shadow: 0 2px 6px rgba(255, 176, 46, 0.8);
    border-radius: 12px;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);  
    gap: 8px;
}

.resume h2{
    font-size: 1.1rem;
    padding-top: 8px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.1rem;
}



.resume__time , .resume__record , .resume__lives , .resume__game{
    border-radius: 8px;
    background-color: #2E2E2E;
    box-shadow: 0 0px 4px #73B73D;
    cursor: pointer;
    padding: 8px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resume__game{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;

}

.resume__game--question{
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume__game--question span:nth-child(1) , .resume__game--question span:nth-child(3){
    width: 15px;
    height: 15px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}



.resume__game--question span:nth-child(1){
    background-image: url('./Assets/triangleGame.svg');
  

}

.resume__game--question p:nth-child(2){
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin-left: 8px;
    margin-right: 8px;
    
}

.resume__game--question span:nth-child(3){
    background-image: url('./Assets/triangleGame.svg');
    transform: rotate(-180deg);
    
}



.resume__time p:nth-child(3) , .resume__record p:nth-child(3), .resume__lives p:nth-child(3){
    display: none;
    visibility: hidden;
}

.resume__time p:nth-child(4) , .resume__record p:nth-child(4), .resume__lives p:nth-child(4){
    text-align: center;
    font-size: 0.8rem;
}

.resume__icon{
    display: inline-block;
    width: 44px;
    height: 44px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center; 
}

.resume__time--icon{
    background-image: url('./Assets/clockGame.png');
}

.resume__record--icon{
    background-image: url('./Assets/recordCup.png');
}

.resume__lives--icon{
    background-image: url('./Assets/heartGame.png');
}


.resume__game{
    grid-column: 1 / 4;
    
}

.resume__game--timer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume__game--timer p:nth-child(1){
    display: none;
    visibility: hidden;
}

.resume__game--timer p:nth-child(2){
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
}

.resume__game--action{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.resume__game--action button{
    padding: 2px 10px;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    color: #f2f2f2;
    letter-spacing: 0.1rem;
    border: 1px solid rgba(255, 176, 46, 0.8);
    box-shadow: 1px 1px 4px rgba(255, 176, 46, 0.8);
    border-radius: 4px;
    cursor: pointer;
    
}

#previousRecord{
    font-size: 1rem;
}




@media(max-width:480px){
        
    .btns{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        
    }

    .messages p{
        font-size: 1.2rem;
    }

    .btns button{
        padding: 8px 22px;
        font-size: 1.2rem;
        
    }

    #up{
        grid-column: 2 / 3;
        grid-row: 1 / 2;

    }

    #left{
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        
    }

    #right{
        grid-row: 2 / 3;
        grid-column: 3 / 4;
        
    }

    #down{
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        
    }
    
}

@media(max-width:550px){
     .resume__time{
        grid-column: 1 / 3;
    }

    .resume__game{ 
        grid-column: 2 / 4;
    } 
}

@media(min-width:550px){

    .resume h2{
        font-size: 1.4rem;
        letter-spacing: 0.2rem;
    }

    .resume__time , .resume__record , .resume__lives , .resume__game{
        padding: 8px 12px;
    }

    .resume__time p:nth-child(4) , .resume__record p:nth-child(4), .resume__lives p:nth-child(4), #previousRecord, #timePlayer{
        font-size: 1.1rem;
    }

    .resume__time p:nth-child(3) , .resume__record p:nth-child(3), .resume__lives p:nth-child(3){
        display: block;
        visibility: visible;
        text-align: justify;
        font-size: 1.3rem;
        padding-bottom: 16px;
    }

    .resume__game--question p:nth-child(2){
        font-size: 1.3rem;
    }

    #timerCount{
        font-size: 1.4rem;
    }

    
    
    .resume__game--timer p:nth-child(1){
        display: block;
        visibility: visible;
        font-size: 1.3rem;
        text-align: center;
    }

    .resume__game--action button{
        padding: 2px 14px;
        font-size: 1.1rem;
    }

    .resume__game--timer{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        place-items: center;
    }

}





